[submodule "Training/vid2player3d"]
	path = Training/vid2player3d
	url = https://github.com/charlie-turner-314/vid2player3d
[submodule "CourtDetection/tennis-court-detection"]
	path = CourtDetection/tennis-court-detection
	url = https://github.com/gchlebus/tennis-court-detection
